<h1 style="padding-top:40px; padding-left:40px;">Le Gossip : </h1><br>
<p style="padding-left:40px;"><strong>Titre : </strong><%= @gossip.find(params[:id]).title%></p>
<p style="padding-left:40px;"><strong>Contenu :</strong> <%= @gossip.find(params[:id]).content%></p>
<p style="padding-left:40px;"><strong>Autheur :</strong> <% g = @gossip.find(params[:id]) %> <% h = g.user_id %> <%= @user.find(h).first_name%> <%= @user.find(h).last_name%></p>


<p style="padding-left:40px;"> <%= link_to "Lien vers l'auteur du Gossip", auteurs_path(h) %></p>
